*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}

.container{
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid #fff;

}

.item{
    background: white;
    width: 200px;
    height: 300px;
    color: rgb(50, 38, 156);
    transform: translatex(50px, 10px);
    clip-path: circle(25%);
    transition-property: clip-path;
    transition-duration: 4s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    
}

.item:hover{
    background-color: rgb(54, 167, 32);
    transform: scale(14);
    transform: rotate(40deg);
    clip-path:circle(120%)
    
}

.Elemento-animado{
    font-size: 50px;


    color: #fff;
    animation-duration: 1s;
    animation-name: slidein;

        
}
    
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  
}


      



